<h1>Team Name:<%= @team[:name] %></h1>
<h2> Team Motto: <%= @team[:motto]%> </h2><br>

<% @team[:super_hero].each_with_index do |hero, index| %>
    <h2>Hero Name:</h2> <%=@team[:super_hero][:name][index] %>
    <p>
      Hero Power: <%=@team[:super_hero][:power][index]%>
      <br>
      Hero Biography: <%=@team[:super_hero][:biography][index]%>
    </p>
<%end%>