<h1>Team Name:<%= @team[:name] %></h1>
<h2> <%= @team[:motto]%> </h2><br>

<h2><%= @team[:super_hero][0][:name]%></h2>
<h3><%= @team[:super_hero][0][:power]%></h3>
<h3><%= @team[:super_hero][0][:biography]%></h3>

<h2><%= @team[:super_hero][1][:name]%></h2>
<h3><%= @team[:super_hero][1][:power]%></h3>
<h3><%= @team[:super_hero][1][:biography]%></h3>

<h2><%= @team[:super_hero][2][:name]%></h2>
<h3><%= @team[:super_hero][2][:power]%></h3>
<h3><%= @team[:super_hero][2][:biography]%></h3>
